

.color-toggle {
  display: flex;
  align-items: center;
}

.color-toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 24px; 
  margin-right: 8px; 
}

.color-toggle-checkbox {
  display: none;
}


.color-toggle.light .color-toggle-label {
  color: #000;
}


.color-toggle.dark .color-toggle-label {
  color: #fff;
}





